/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-white-transparent: rgba(255, 0.72);

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
  --vt-c-black-transparent: rgba(0, 0, 0, 0.56);

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* tints */
:root {
  /* kita */
  --vt-c-tint-red-light: rgb(253, 66, 66);
  --vt-c-tint-red-light-1: rgba(253, 66, 66, 0.29);
  --vt-c-tint-red-light-2: rgb(253, 66, 66, 0.12);

  --vt-c-tint-red-dark: rgb(255, 78, 78);
  --vt-c-tint-red-dark-1: rgb(255, 78, 78, 0.65);
  --vt-c-tint-red-dark-2: rgb(255, 78, 78, 0.48);

  /* ryo */
  --vt-c-tint-blue-light: rgb(36, 123, 236);
  --vt-c-tint-blue-light-1: rgba(36, 123, 236, 0.29);
  --vt-c-tint-blue-light-2: rgb(36, 123, 236, 0.12);

  --vt-c-tint-blue-dark: rgb(90, 134, 255);
  --vt-c-tint-blue-dark-1: rgb(90, 134, 255, 0.65);
  --vt-c-tint-blue-dark-2: rgb(90, 134, 255, 0.48);

  /* bocchi */
  --vt-c-tint-pink-light: rgb(244, 58, 148);
  --vt-c-tint-pink-light-1: rgba(244, 58, 148, 0.29);
  --vt-c-tint-pink-light-2: rgb(244, 58, 148, 0.12);

  --vt-c-tint-pink-dark: rgb(253, 92, 146);
  --vt-c-tint-pink-dark-1: rgb(253, 92, 146, 0.65);
  --vt-c-tint-pink-dark-2: rgb(253, 92, 146, 0.48);

  /* nijika */
  --vt-c-tint-yellow-light: rgb(247, 199, 40);
  --vt-c-tint-yellow-light-1: rgba(247, 199, 40, 0.29);
  --vt-c-tint-yellow-light-2: rgb(247, 199, 40, 0.12);

  --vt-c-tint-yellow-dark: rgb(255, 216, 86);
  --vt-c-tint-yellow-dark-1: rgb(255, 216, 86, 0.65);
  --vt-c-tint-yellow-dark-2: rgb(255, 216, 86, 0.48);
}

/* semantic color variables for this project */
:root {
  --color-tint-red: var(--vt-c-tint-red-light);
  --color-tint-red-soft: var(--vt-c-tint-red-light-1);
  --color-tint-red-mute: var(--vt-c-tint-red-light-2);

  --color-tint-blue: var(--vt-c-tint-blue-light);
  --color-tint-blue-soft: var(--vt-c-tint-blue-light-1);
  --color-tint-blue-mute: var(--vt-c-tint-blue-light-2);

  --color-tint-pink: var(--vt-c-tint-pink-light);
  --color-tint-pink-soft: var(--vt-c-tint-pink-light-1);
  --color-tint-pink-mute: var(--vt-c-tint-pink-light-2);

  --color-tint-yellow: var(--vt-c-tint-yellow-light);
  --color-tint-yellow-soft: var(--vt-c-tint-yellow-light-1);
  --color-tint-yellow-mute: var(--vt-c-tint-yellow-light-2);
}

:root {
  --color-tint: var(--vt-c-tint-pink-light);
  --color-tint-soft: var(--vt-c-tint-pink-light-1);
  --color-tint-mute: var(--vt-c-tint-pink-light-2);

  --color-link: var(--vt-c-tint-pink-light);
  --color-link-soft: var(--vt-c-tint-pink-light-1);
  --color-link-mute: var(--vt-c-tint-pink-light-2);

  --color-selection: var(--vt-c-tint-pink-light-2);

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-transparent: var(--vt-c-white-transparent);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-tint-red: var(--vt-c-tint-red-dark);
    --color-tint-red-soft: var(--vt-c-tint-red-dark-1);
    --color-tint-red-mute: var(--vt-c-tint-red-dark-2);

    --color-tint-blue: var(--vt-c-tint-blue-dark);
    --color-tint-blue-soft: var(--vt-c-tint-blue-dark-1);
    --color-tint-blue-mute: var(--vt-c-tint-blue-dark-2);

    --color-tint-pink: var(--vt-c-tint-pink-dark);
    --color-tint-pink-soft: var(--vt-c-tint-pink-dark-1);
    --color-tint-pink-mute: var(--vt-c-tint-pink-dark-2);

    --color-tint-yellow: var(--vt-c-tint-yellow-dark);
    --color-tint-yellow-soft: var(--vt-c-tint-yellow-dark-1);
    --color-tint-yellow-mute: var(--vt-c-tint-yellow-dark-2);
  }

  :root {
    --color-tint: var(--vt-c-tint-pink-dark);
    --color-tint-soft: var(--vt-c-tint-pink-dark-1);
    --color-tint-mute: var(--vt-c-tint-pink-dark-2);

    --color-link: var(--vt-c-tint-pink-dark);
    --color-link-soft: var(--vt-c-tint-pink-dark-1);
    --color-link-mute: var(--vt-c-tint-pink-dark-2);

    --color-selection: var(--vt-c-tint-pink-dark-2);

    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-background-transparent: var(--vt-c-black-transparent);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
