@import './base.scss';
@import './fonts.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
  padding: 3px;
}

button {
  color: var(--color-text);
  background: transparent;
  border: none;
}

.tint {
  --tint: var(--color-tint);
  color: var(--tint);
}

.tint-kita {
  --tint: var(--color-tint-red);
  color: var(--tint);

  &::selection,
  *::selection {
    background: var(--color-tint-red-mute);
  }
}

.tint-ryo {
  --tint: var(--color-tint-blue);
  color: var(--tint);

  &::selection,
  *::selection {
    background: var(--color-tint-blue-mute);
  }
}

.tint-bocchi {
  --tint: var(--color-tint-pink);
  color: var(--tint);

  &::selection,
  *::selection {
    background: var(--color-tint-pink-mute);
  }
}

.tint-nijika {
  --tint: var(--color-tint-yellow);
  color: var(--tint);

  &::selection,
  *::selection {
    background: var(--color-tint-yellow-mute);
  }
}

::selection {
  background: var(--color-selection);
}

#logo {
  fill: var(--color-text);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: bold;
}

@media (hover: hover) {
  a {
    border-bottom: 0.1em solid var(--color-link-mute);

    &:hover {
      border-bottom: 0.1em solid var(--color-link-soft);
    }
  }
}

@media (width >= 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /*
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
    */
}
