@import './base.scss';
@import './fonts.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.band-color {
  text-decoration: none;
  color: rgb(244, 58, 148);
  transition: 0.4s;
  padding: 3px;
}

#logo {
  fill: black;

  @media (prefers-color-scheme: dark) {
    fill: white;
  }
}

@media (hover: hover) {
  a:hover {
    //background-color: hsla(330, 83%, 59%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /*
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
    */
}
