@import './base.scss';
@import './fonts.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
  padding: 3px;

  &:hover {
    scale: 1.1;
  }
}

.tint {
  color: var(--color-tint);
}

.tint-kita {
  color: var(--color-tint-red);
}

.tint-ryo {
  color: var(--color-tint-blue);
}

.tint-bocchi {
  color: var(--color-tint-pink);
}

.tint-nijika {
  color: var(--color-tint-yellow);
}

::selection {
  background: var(--color-selection);
}

#logo {
  fill: black;

  @media (prefers-color-scheme: dark) {
    fill: white;
  }
}

@media (hover: hover) {
  a {
    border-bottom: 0.1em solid var(--color-link-mute);

    &:hover {
      border-bottom: 0.1em solid var(--color-link-soft);
    }
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /*
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
    */
}
